
        button:hover {
            opacity: 0.5;
        }
        button {
            background-color: #0094ff;
            color: black;
            padding: 20px 40px;
            margin: 10px 0;
            cursor: pointer;
            width: 100%;
        }
        .administrator-meniu{
            display:flex;
            margin-top:80px;
            background-color:dimgrey;
        }
            .administrator-meniu button {
                background-color: dimgrey;
                border:none;
            }
        .containter-primite .cerere {
display: flex;
            border: solid;
            border-radius: 2%;
            width: 464px;
            margin: 50px;
            padding-left: 30px;
            position:relative;
        }
        .containter-primite {
margin-right:20%;
            display: flex;
            background-color: GrayText;
            
        }
        .main-primite{
            display:none;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .containter-disponibile .piesa {
            display: flex;
            border: solid;
            border-radius: 2%;
            width: 464px;
            margin: 50px;
            padding-left: 30px;
            position:relative;
        }
        .containter-disponibile {
           margin-right:20%;
            display: flex;
            background-color: GrayText;
        }
        .main-disponibile {
            display: none;
        }
        .containter-comanda .piesa-comanda {
            display: flex;
            border: solid;
            border-radius: 2%;
            width: 464px;
            margin: 50px;
            padding-left: 30px;
            position: relative;
        }
        .containter-comanda {
margin-right:20%;
            display: flex;
            background-color: GrayText;
        }
        .main-comanda {
            display: none;
        }
        .corp img{
            width:50px;
            height:50px;
            margin-right:50px;
            margin-top:50px;
        }