
body{
            margin-left:0px;
            background-color:lightgray;
            font-family:Calibri;
        }
        .header .butoane{
            position:absolute;
            right:0;
            top:30px;
margin-right:20%;
        }
        

            .meniu p {
                display: inline-flex;
                color: black;
                padding: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                text-underline-position: unset;
            }
            .meniu a {
                text-decoration: none;
            }
        .meniu p:hover{
            background-color:darkslategray;
            color:lightgray;
            cursor:pointer;
        }
.meniu {
 	    margin-left:20%;
            margin-right:20%;
           
            background-color: dimgrey;
            position: relative;
            padding-left: 20px;
            
        }
        .bicla{
            margin-left:20%;
 width:130px;
        }