
.container {
            font-family: 'Montserrat', sans-serif;
	    margin-top:4%;
	    padding-left:4%;
	    padding-right:4%;
            
        }
	
	table{
	    margin-
}

        .list-inline {
            text-align: center;
            margin-bottom: 5%;
        }

        .title {
            font-weight: bold;
            font-size: 26px;
        }

        th {
            text-align: center;
        }

        td {
            
        }
        .holiday button{
            visibility: hidden;
            
        }


        .passed button{
            visibility: hidden;}

            th:nth-of-type(6) {
                color: blue;
            }
            td:nth-of-type(6){
                color: MidnightBlue;
                background-color: Tomato;
            }
            td:nth-of-type(6):hover {
                color: MidnightBlue;
                background-color: Tomato;
                cursor:auto;
            }
            td:nth-of-type(6) button{
                visibility: hidden;
            }
            td:nth-of-type(6) button{
                display: inline-block;
            pointer-events: none;
            cursor: default;
            }
            th:nth-of-type(7) {
                color: red;
            }
            td:nth-of-type(7) {
                color: White;
                background-color: Tomato;
            }
            td:nth-of-type(7):hover {
                color: White;
                background-color: Tomato;
                cursor:auto;
            }
            td:nth-of-type(7) button{
                visibility: hidden;
            }
            td:nth-of-type(7) button{
                display: inline-block;
            pointer-events: none;
            cursor: default;
            }
        
           
        
        .holiday {
            background-color: Tomato;
        }

        }

        .today, .today-holiday {
            background-color: LightSalmon;
        }
        .work:hover{
            background-color: LightSlateGrey;
        }
        td a{
            color:MidnightBlue;
            text-decoration:bold underline;
        }

@media only screen and (max-width: 1400px) {
    body{
        margin-left:0px;
        margin-right:0px;
    }
    }
    @media only screen and (max-width: 1000px){
        body{
            margin-left:0px;
            margin-right:0px;
        }
        .container{
            margin-left:0px;
        }
        .list-inline{
            margin-left:40%;
        }
    }