       
        .corp-cerere {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            border: 5px solid;
            border-color: darkgray;
            border-radius: 2%;
            margin-top:100px;
            position:relative;
        }
        .main-body{
            text-align:center;
        }
        h2{
            color:orange;
            margin-top:50px;
            margin-bottom:120px;
        }
        .trimis{
            position:absolute;
            left:10px;
            bottom:0;
        }
        .actualizare{
           position:absolute;
           right:10px;
           bottom:0;
        }